@charset "UTF8";
@import url('https://fonts.googleapis.com/css2?family= Patua +One & display=swap');
*{
    padding: 0px;
    margin: 0px;
    
}
:root{
--cor0: #29335c;
--cor1: #ffc15e;
--cor2: #f4faff;
--cor3: #00a6a6;
--cor4: #9a031e;
--cor5: #4f6d7a;
--fonte-padrao: arial, verdana, helvetica, sans-serif;
--fonte-destaque: "patua one", cursive;
}
body{
    background-color: rgb(219, 216, 216);
    
}
section.redessociais{
    background-color: var(--cor0);
    margin-bottom: 1px;
    text-align: center;
    height: 100px;
}
.h1redessociais{
    position: relative;
    padding: 10px;
    color: white;
    text-shadow: 5px 5px 10px black;
    text-align: left ;
    
}
img.redes1{
    position: relative;
    width: 40px;
    margin: 5px;
    border-radius: 50%;
    left: 0%;
    top: 0px;
}

img.redes1:hover{
    border: 1px solid #ffc15e;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.733);
    transition: transform 0.4s, border .2s;
}
.logo{
    background-color: var(--cor0);
}
.logo1{
    width: 300px;
}
.h1servicos{
    margin-top: 2px;
    padding: 10px;
    background-color: var(--cor0);
    color: white;
    text-shadow: 6px 6px 10px black;
    text-align: center;   background-color: var(--cor0);
}
menu#itens{
    background-color: var(--cor1);
    padding: 5px;
    text-align: center;
}
menu > ul > li > a.linkmenu{
    color: black;
    text-decoration: none;
    font-size: 1.1em;
    padding: 3px;
    
    
}
menu >ul > li > a:hover{
    background-color: var(--cor0);
    color: white;
    border-radius: 10px;
    transition: color .2s;
}
menu > ul > li{
    display: inline;
    padding: 5px;
    
}
main > article.boxservicos{
    display: flex;
    justify-content: center;
    display: inline-block;
    text-align: center;
 }
 main > article > div.boxsalaobeleza{
    width: 270px;
    height: 130px;
    margin: 50px;
    display: inline-block;
    background-color: white;
    border: 2px solid #f1f0ef;
    border-radius: 0px 0px 20px 20px;
    
 
 }
 .logosalao{
     position: relative;
     width: 270px;
     height: 130px;
     left: 0px;
     border-radius: 0px 0px 20px 20px;
     
 }
 .h1salao{
     position: relative;
     width: 270px;
     border-radius: 5px 5px 0px 0px;
     padding: 2px;
     left: -0.7%;
     top: -166px;
     background-color: white;
     border-radius: 2px 2px 2px white;
 }
 main > article > div.boxbarbearia{
     width: 270px;
     height: 130px;
     margin: 50px;
     display: inline-block;
     background-color: white;
     border-radius: px;
     border: 2px solid #040404;
     border-radius: 0px 0px 20px 20px;
  
  }
  .logobarbearia{
     position: relative;
     width: 270px;
     height: 130px;
     left: 0px;
     border-radius: 0px 0px 20px 20px;
 }
 .h1barbearia{
     position: relative;
     border-radius: 5px;
     width: 270px;
     border-radius: 5px 5px 0px 0px;
     padding: 2px;
     left: -0.7%;
     top: -166px;
     background-color: black;
     color: white;
     border-radius: 2px 2px 2px rgb(9, 9, 9);
     }
  main > article > div.boxeletricista{
     width: 270px;
     height: 130px;
     margin: 50px;
     display: inline-block;
     background-color: white;
     border-radius: px;
     border: 2px solid #c90b0b;
     border-radius: 0px 0px 20px 20px;
  
  }
  .logoeletricista{
     position: relative;
     width: 270px;
     height: 130px;
     left: 0px;
     border-radius: 0px 0px 20px 20px;
 }
 .h1eletricista{
     position: relative;
     border-radius: 5px;
     width: 270px;
     border-radius: 5px 5px 0px 0px;
     padding: 2px;
     left: -0.7%;
     top: -166px;
     background-color: #c90b0b;
     color: white;
     border-radius: 2px 2px 2px white;
     
     }
 
  main > article > div.servicoautomotivos{
     width: 270px;
     height: 130px;
     margin: 50px;
     display: inline-block;
     background-color: white;
     border-radius: px;
     border: 2px solid #ffc15e;
     border-radius: 0px 0px 20px 20px;
  }
  .logoautomotivos{
     position: relative;
     width: 270px;
     height: 130px;
     left: 0px;
     border-radius: 0px 0px 20px 20px;
 }
 .h1automotivos{
     position: relative;
     border-radius: 5px;
     width: 270px;
     border-radius: 5px 5px 0px 0px;
     padding: 2px;
     left: -0.7%;
     top: -166px;
     background-color: var(--cor1);
     border-radius: 2px 2px 2px white;
     
 }
  main > article > div.boxidiomas{
     width: 270px;
     height: 130px;
     margin: 50px;
     display: inline-block;
     background-color: white;
     border-radius: px;
     border: 2px solid var(--cor4);
     border-radius: 0px 0px 20px 20px;
  
  }
  .logoidiomas{
     position: relative;
     width: 270px;
     height: 130px;
     left: 0px;
     border-radius: 0px 0px 20px 20px;
 }
 .h1idiomas{
     position: relative;
     border-radius: 5px;
     width: 270px;
     border-radius: 5px 5px 0px 0px;
     padding: 2px;
     left: -0.7%;
     top: -166px;
     background-color: var(--cor4);
     color: white;
     border-radius: 2px 2px 2px white;
     }
  main > article > div.boxlimpesa{
     width: 270px;
     height: 130px;
     margin: 50px;
     display: inline-block;
     background-color: white;
     border-radius: px;
     border: 2px solid white;
     border-radius: 0px 0px 20px 20px;
  
  }
  .logolimpesa{
     position: relative;
     width: 270px;
     height: 130px;
     left: 0px;
     border-radius: 0px 0px 20px 20px;
 }
 .h1limpesa{
     position: relative;
     border-radius: 5px;
     width: 270px;
     border-radius: 5px 5px 0px 0px;
     padding: 2px;
     left: -0.7%;
     top: -166px;
     background-color:white;
     border-radius: 2px 2px 2px white;
     }