@charset "UTF8";
@import url('https://fonts.googleapis.com/css2?family= Patua +One & display=swap');
*{
    padding: 0px;
    margin: 0px;
    
}
:root{
--cor0: #29335c;
--cor1: #ffc15e;
--cor2: #f4faff;
--cor3: #00a6a6;
--cor4: #9a031e;
--cor5: #4f6d7a;
--fonte-padrao: arial, verdana, helvetica, sans-serif;
--fonte-destaque: "patua one", cursive;
}
body{
    background-color: rgb(219, 216, 216);
    
}
section.redessociais{
    background-color: var(--cor0);
    margin-bottom: 1px;
    text-align: center;
    height: 100px;
}
.h1redessociais{
    position: relative;
    padding: 10px;
    color: white;
    text-shadow: 5px 5px 10px black;
    text-align: left ;
    
}
img.redes1{
    position: relative;
    width: 40px;
    margin: 5px;
    border-radius: 50%;
    left: 0%;
    top: 0px;
}

img.redes1:hover{
    border: 1px solid #ffc15e;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.733);
    transition: transform 0.4s, border .2s;
}
.logo{
    background-color: var(--cor0);
}
.logo1{
    width: 300px;
}
.h1comercios{
    margin-top: 2px;
    padding: 10px;
    background-color: var(--cor0);
    color: white;
    text-shadow: 6px 6px 10px black;
    text-align: center;   background-color: var(--cor0);
}
menu#itens{
    background-color: var(--cor1);
    padding: 5px;
    text-align: center;
}
menu > ul > li > a.linkmenu{
    color: black;
    text-decoration: none;
    font-size: 1em;
    padding: 3px;
    
    
}
menu >ul > li > a:hover{
    background-color: var(--cor0);
    color: white;
    border-radius: 10px;
    transition: color .2s;
}
menu > ul > li{
    display: inline;
    padding: 5px;
    
}

.manutencao{
  background-color: red;
  text-align: center;
  margin: 50px;
}
.containeranuncios{
    display: grid;
    justify-content: center;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    background-image: linear-gradient(to right, #ffc15e, #f99c07);
    padding: 10px;
    
}


.box1{
    display: grid;
       
}

.box2{
   display: grid;
   padding: 10px;
}
#icomentario{
    width: 100%;
    height: 190px;
    

}
@media(max-width: 400px) {
    #icomentario{
        height: 190px;
        width: 400px;
    }
}
@media(max-width: 200px) {
    #icomentario{
        height: 190px;
        width: 200px;
    }
}
#ititulo, #inome, #itelefone, #iemail, #idate,#icomentario{
    border-radius: 5px;
}
#enviar{
    background-color: var(--cor0);
    color: white;
    border-radius: 5px;
    width: 200px;
   
}
#enviar:hover{
    background-color: var(--cor4);
}
.containeranunciantes{
    width: 290px;
    height: 400px;
    display: grid;
    margin: auto;
    background-color: white;
    border-radius: 10px;
}

#h3anunciantes{
    position: relative;
    top: 174px;
    left: 0px;
    text-align: center;
    padding: 10px;
}
#dadosanunciantes{
    position: relative;
    padding: 10px;
    top: 122%;
    left: 0px;
}
#imganunciantes{
    display: grid;
    justify-content: center;
}
#imganunciantes1{
    position: relative;
    top: -105%;
    left: 0px;
    width: 260px;
    height: 175px ;
}
#comentarioanunciantes{
    position: relative;
    top: 115px;
    left: 10px;
}




footer{
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
    background-color: var(--cor0);
    color: white;
}
.footer_contact{
  
    display: grid;
    
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;

}
.footer_social_media{
    margin-left: 40px;

}
.h1footer{
    margin-left: 40px;
    margin-right: 30px;
    margin-bottom: 20px;
}
.footer-link{
    color: white;
    
    
    
}
.footer-list{
    padding: 30px;
    margin-left: 0px;
    font-size: 1.05em;
    
}

img.redes2{
    width: 40px;
    margin: 5px;
    border-radius: 50%;

}

img.redes2:hover{
    border: 1px solid #ffc15e;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.733);
    transition: transform 0.4s, border .2s;
}
#footer_copyright{
    text-align: center;
    padding: 10px;
    background-color: black;
}